<form action="/comments/delete/<% commentId %>" method="POST">
  <p>Would you like to remove this comments?</p>
  <input type="submit" value="Delete" />
  <a href="javascript:history.back()">Go back</a>
</form>
